# Cargando datos a partir de archivos CSV

A continuaci√≥n vamos a ver como se pueden cargar datos a un DataFrame desde un archivo CSV

In [3]:
import pandas as pd

Location = "datasets/smallgrades.csv"

df = pd.read_csv(Location, header=None)

df.head()

         0     1
0   Marcia  82.4
1   Kadeem  78.2
2     Nash  79.3
3  Noelani  83.2
4  Noelani  87.4